# Executables
*.exe
*.out

# Object files
*.o
*.obj

# Precompiled headers
*.gch

# Temporary files
temp*
output*
a.*

# Other
build/
build-*/

# CMake temp files
CMakeCache.txt
CMakeFiles/
CMakeScripts/
Testing/
Makefile
cmake_install.cmake
compile_commands.json
*.dir/